@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.1408 0.0044 285.8229);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1408 0.0044 285.8229);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1408 0.0044 285.8229);
    --primary: oklch(0.3791 0.1378 265.5222);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9683 0.0069 247.8956);
    --secondary-foreground: oklch(0.2046 0 0);
    --muted: oklch(0.9683 0.0069 247.8956);
    --muted-foreground: oklch(0.5544 0.0407 257.4166);
    --accent: oklch(0.9683 0.0069 247.8956);
    --accent-foreground: oklch(0.2046 0 0);
    --destructive: oklch(0.5771 0.2152 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9288 0.0126 255.5078);
    --input: oklch(0.9288 0.0126 255.5078);
    --ring: oklch(0.3791 0.1378 265.5222);
    --chart-1: oklch(0.3791 0.1378 265.5222);
    --chart-2: oklch(0.6231 0.188 259.8145);
    --chart-3: oklch(0.7971 0.1339 211.5302);
    --chart-4: oklch(0.879 0.1534 91.6054);
    --chart-5: oklch(0.7106 0.1661 22.2162);
    --sidebar: oklch(0.9842 0.0034 247.8575);
    --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
    --sidebar-primary: oklch(0.3791 0.1378 265.5222);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9288 0.0126 255.5078);
    --sidebar-accent-foreground: oklch(0.2046 0 0);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.3791 0.1378 265.5222);
    --font-sans: ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
    --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
    --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
      0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
      0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
      0rem 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
      0rem 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
      0rem 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }

  .dark {
    --background: oklch(0.1408 0.0044 285.8229);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.1408 0.0044 285.8229);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.1408 0.0044 285.8229);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.3791 0.1378 265.5222);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2046 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2046 0 0);
    --muted-foreground: oklch(0.7118 0.0129 286.0665);
    --accent: oklch(0.2046 0 0);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.3958 0.1331 25.723);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.2739 0.0055 286.0326);
    --input: oklch(0.2739 0.0055 286.0326);
    --ring: oklch(0.3791 0.1378 265.5222);
    --chart-1: oklch(0.3791 0.1378 265.5222);
    --chart-2: oklch(0.6231 0.188 259.8145);
    --chart-3: oklch(0.7971 0.1339 211.5302);
    --chart-4: oklch(0.879 0.1534 91.6054);
    --chart-5: oklch(0.7106 0.1661 22.2162);
    --sidebar: oklch(0.1363 0.0364 259.201);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.3791 0.1378 265.5222);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2046 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(0.2739 0.0055 286.0326);
    --sidebar-ring: oklch(0.3791 0.1378 265.5222);
    --font-sans: ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.3;
    --shadow-color: #000000;
    --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.15);
    --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.15);
    --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.3),
      0rem 1px 2px -1px hsl(0 0% 0% / 0.3);
    --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.3),
      0rem 1px 2px -1px hsl(0 0% 0% / 0.3);
    --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.3),
      0rem 2px 4px -1px hsl(0 0% 0% / 0.3);
    --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.3),
      0rem 4px 6px -1px hsl(0 0% 0% / 0.3);
    --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.3),
      0rem 8px 10px -1px hsl(0 0% 0% / 0.3);
    --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.75);
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
  ---break---
*/

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  ---break---
*/

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  ---break---
*/

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
